@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind fixes */
@layer components {
  .debug {
    @apply border border-red-500;
  }

  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .horizontal.center-v {
    @apply items-center;
  }

  .horizontal.center-h {
    @apply justify-center;
  }

  .horizontal.center {
    @apply justify-center items-center;
  }

  .vertical.center-v {
    @apply justify-center;
  }

  .vertical.center-h {
    @apply items-center;
  }

  .vertical.center {
    @apply justify-center items-center;
  }

  .space-between {
    @apply justify-between;
  }
}

.container {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}

.trans {
  @apply transition ease-in-out;
}

.trans-150 {
  @apply transition ease-in-out duration-150;
}

.trans-300,
a,
button {
  @apply transition ease-in-out duration-300;
}

input {
  @apply placeholder-slate-400 ring-0 focus:ring-0;
  opacity: 1;
}

.border-1 {
  border-width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.marcellus {
  font: var(--font-marcellus), serif;
}

body {
  font: var(--font-lato), sans-serif;
  letter-spacing: 0.2px;
}

/* pulse button */
.pulse-button {
  box-shadow: 0 0 0 0 #6940b663;
  transform: scale(1);
  animation: pulse 1.6s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #6940b645;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #6940b63e;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #6940b659;
  }
}

.pulse-button-light {
  box-shadow: 0 0 0 0 #a09ea263;
  transform: scale(1);
  animation: pulse-light 2s infinite;
}

@keyframes pulse-light {
  0% {
    transform: scale(0.96);
    box-shadow: 0 0 0 0 #a09ea263;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 7px #a09ea263;
  }

  100% {
    transform: scale(0.96);
    box-shadow: 0 0 0 0 #a09ea263;
  }
}
