@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind fixes */
@layer components {
  .debug {
    @apply border border-red-500;
  }

  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .horizontal.center-v {
    @apply items-center;
  }

  .horizontal.center-h {
    @apply justify-center;
  }

  .horizontal.center {
    @apply justify-center items-center;
  }

  .vertical.center-v {
    @apply justify-center;
  }

  .vertical.center-h {
    @apply items-center;
  }

  .vertical.center {
    @apply justify-center items-center;
  }

  .space-between {
    @apply justify-between;
  }
}

.container {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}

.trans {
  @apply transition ease-in-out;
}

.trans-150 {
  @apply transition ease-in-out duration-150;
}

.trans-300,
a,
button {
  @apply transition ease-in-out duration-300;
}

input {
  @apply placeholder-slate-400 ring-0 focus:ring-0;
  opacity: 1;
}

.border-1 {
  border-width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.marcellus {
  font: var(--font-marcellus), serif;
}

body {
  font: var(--font-lato), sans-serif;
}
